.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  overflow-x: hidden;
  background: #ffffff;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.l-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 12px 0 0 0;
  border-bottom: 5px solid #c92736;
  background-color: #1d1d1d;

  &__mob {
    position: relative;
  }

  &__toggle {
    display: none;
    max-width: 100%;
    padding: 4px 0 4px 4px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__logo {
    display: inline-block;

    &-image {
      display: block;
      max-width: 100%;
    }

    &-text {
      display: block;
      margin: 8px 0 0 0;
      opacity: 0.5;
      color: #ffffff;
      font-size: 12px;
      font-weight: 300;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    padding: 18px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    &-card {
      display: inline-block;
      margin: 0;
      opacity: 0.5;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;

      sup {
        font-size: 10px;
      }
    }

    a {
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 1;
        color: #c92736;
        text-decoration: none;
      }
    }
  }

  &__phone {
    display: block;
    margin: 0 auto 18px auto;
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #c92736;
      text-decoration: none;
    }
  }

  &__button {
    display: block;
    padding: 9px;
    border-radius: 999rem;
    border: 1px solid #c92736;
    background: transparent;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #c92736;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &>li {
      display: inline-block;
      position: relative;

      &>a {
        display: inline-block;
        padding: 22px 0;
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #c92736;
          text-decoration: none;
        }
      }
    }
  }

  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 255px;
    margin: 0;
    padding: 12px 0;
    background-color: #393939;
    z-index: 8;

    li {
      display: block;
      position: relative;
      width: 100%;

      &:last-child {
        a {
          border: 0;
        }
      }

      a {
        display: block;
        padding: 8px 20px;
        border-bottom: 1px solid #545454;
        width: 100%;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          background: #545454;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }

  &__dropper {
    position: relative;

    &:hover {
      .l-header__drop {
        display: block;
      }
    }
  }
}

.slick-dotted.slick-slider {
  margin: 0;
}

.l-home-top {
  display: block;
  position: relative;
  width: 100%;

  .slick-dots li button:before {
    display: none;
  }

  .slick-dots li {
    position: relative;
    width: 14px;
    height: 14px;
    border: 1px solid #ffffff;
    border-radius: 999rem;
    opacity: 1;
  }

  .slick-dots .slick-active {
    background: #ffffff !important;
    opacity: 1 !important;
  }

  .slick-dots {
    width: 100%;
    bottom: 40px;
  }

  .slick-next,
  .slick-prev {
    width: 21px;
    height: 41px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }

  .slick-next {
    right: calc((100vw - 1200px) / 2 - 40px);
    background: url("../images/icon_slick_next.png");

    &:before {
      display: none;
    }
  }

  .slick-prev {
    left: calc((100vw - 1200px) / 2 - 40px);
    background: url("../images/icon_slick_prev.png");

    &:before {
      display: none;
    }
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      width: 100%;
      max-width: 450px;
      min-height: 550px;
      padding: 20px 0;
    }

    &-title {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 32px 0;
      padding-left: 26px;
      border-left: 5px solid #c92736;
      color: #ffffff;
      font-size: 40px;
      font-weight: 300;
    }

    &-text {
      display: block;
      width: 100%;
      margin: 0 0 35px 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
    }

    &-button {
      display: inline-block;
      padding: 13px 60px;
      border-radius: 999rem;
      background-image: linear-gradient(to left, #c92736 0%, #f84455 100%);
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background-image: linear-gradient(to left, #e63d4d 0%, #fd5667 100%);
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.l-home-main {
  display: block;
  position: relative;
  width: 100%;
  padding: 130px 0 100px 0;

  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding-left: calc((100vw - 1200px) / 2 - 30px);
    color: #202020;
    font-size: 16px;

    p {
      display: block;
      color: #202020;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.69;
    }

    b,
    strong {
      font-weight: 400;
    }

    ul {
      display: block;
      position: relative;
      margin: 5px 0 10px 0;
      padding: 0;
      list-style: none;
      color: #202020;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.69;

      li {
        display: block;
        position: relative;
        padding-left: 33px;

        &:before {
          display: block;
          position: absolute;
          content: '—';
          left: 16px;
          top: 0;
          color: #202020;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.69;
        }
      }
    }
  }

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 25px 0;
    padding-left: 26px;
    border-left: 5px solid #c92736;
    color: #202020;
    font-size: 40px;
    font-weight: 300;
  }

  &__big {
    display: block;
    max-width: 100%;
    margin: 5px auto;
  }
}

.l-home-choose {
  display: block;
  position: relative;
  width: 100%;
  padding: 45px 0 85px 0;
  background: url('../images/home_2.jpg') no-repeat center top;
  background-size: cover;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: relative;
    width: 100%;

    &_righted {
      align-items: flex-end;
    }
  }

  &__title {
    display: block;
    margin: 0 0 175px 0;
    color: #202020;
    font-size: 40px;
    font-weight: 300;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    min-width: 235px;
    min-height: 45px;
    padding: 10px 22px 10px 10px;
    border-radius: 999rem;
    background-image: linear-gradient(to left, #c92736 0%, #f84455 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;

    img {
      display: inline-block;
      max-width: 100%;
      margin-right: 22px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-image: linear-gradient(to left, #e63d4d 0%, #fd5667 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.l-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0 85px 0;
  background: url('../images/home_form_bg.jpg') no-repeat center center;
  background-size: cover;

  ::-webkit-input-placeholder {
    color: #ffffff;
  }

  ::-moz-placeholder {
    color: #ffffff;
  }

  /* Firefox 19+ */
  :-moz-placeholder {
    color: #ffffff;
  }

  /* Firefox 18- */
  :-ms-input-placeholder {
    color: #ffffff;
  }

  &__title {
    display: block;
    margin: 0 0 18px 0;
    color: #ffffff;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
  }

  &__text {
    display: block;
    margin: 0 0 70px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 11px 0;
    border: 0;
    outline: none;
    border-bottom: 2px solid #c92736;
    background: transparent;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
  }

  &__row {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    &-text {
      display: inline-block;
      margin: 0 25px 0 0;
      color: #fffefe;
      font-size: 18px;
      font-weight: 300;
    }
  }

  &__check {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 1;
    cursor: pointer;

    span {
      display: block;
      position: relative;
      margin: 0;
      padding-left: 33px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
    }

    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;

      &+span {
        background: url('../images/icon_checkbox.png') no-repeat left top;
      }

      &:checked+span {
        background: url('../images/icon_checkbox_checked.png') no-repeat left top !important;
      }
    }
  }

  &__button {
    display: block;
    width: 100%;
    padding: 16px;
    border: 0;
    outline: none;
    border-radius: 25px;
    background-image: linear-gradient(to left, #c92736 0%, #f84455 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

    &_centered {
      max-width: 220px;
      margin: 60px auto 30px auto;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-image: linear-gradient(to left, #e63d4d 0%, #fd5667 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    margin: 10px 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
  }
}

.l-home-why {
  display: block;
  position: relative;
  width: 100%;
  padding: 110px 0 100px 0;

  &__title {
    display: block;
    margin: 0 0 70px 0;
    color: #202020;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 315px;
    margin: 0 0 30px 0;
    background: url('../images/home_why_card_bg.png') no-repeat left 35px;

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100px;
      height: 100px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-title {
      display: block;
      margin: 18px 0 20px 0;
      color: #202020;
      font-size: 30px;
      font-weight: 300;
    }

    &-text {
      display: block;
      margin: 0;
      color: #202020;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.l-home-services {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0 85px 0;
  background: url('../images/home_services_bg.png') no-repeat center;
  background-size: cover;

  &__title {
    display: block;
    margin: 0 0 38px 0;
    color: #202020;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  &__card {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 380px;
    margin: 0 0 14px 0;
    padding: 50px;
    box-shadow: 0 12px 27px 1px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      .l-home-services__card-title {
        color: #ffffff;
      }

      .l-home-services__card-image {
        img {
          filter: brightness(0) invert(1);
        }
      }

      background-image: linear-gradient(to top, #c92736 0%, #f84455 100%);
      color: #ffffff;
      text-decoration: none;
    }

    &-image {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 75px;
      height: 75px;
      margin-right: 25px;

      img {
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
    }

    &-title {
      display: inline-block;
      max-width: 215px;
      margin: 0;
      color: #202020;
      font-size: 18px;
      font-weight: 300;
      transition: all 0.2s ease-out;
    }
  }
}

.l-home-companies {
  display: block;
  position: relative;
  width: 100%;
  padding: 115px 0 180px 0;

  &__title {
    display: block;
    margin: 0 0 70px 0;
    color: #202020;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;

    .slick-dots li button:before {
      display: none;
    }

    .slick-dots li {
      position: relative;
      width: 14px;
      height: 14px;
      border: 1px solid #c92736;
      border-radius: 999rem;
      opacity: 1;
    }

    .slick-dots .slick-active {
      background: #c92736 !important;
      opacity: 1 !important;
    }

    .slick-dots {
      width: 100%;
      bottom: -80px;
    }

    .slick-next,
    .slick-prev {
      width: 21px;
      height: 41px;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.7;
      }
    }

    .slick-next {
      margin-right: -50px;
      background: url("../images/icon_slick_next_2.png");

      &:before {
        display: none;
      }
    }

    .slick-prev {
      margin-left: -50px;
      background: url("../images/icon_slick_prev_2.png");

      &:before {
        display: none;
      }
    }
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 315px;
    margin: 0 auto;

    &-image {
      display: block;
      width: 100%;
      height: 190px;
      margin-bottom: 18px;
      border-radius: 5px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-title {
      display: block;
      margin: 0 0 16px 0;
      padding-left: 15px;
      border-left: 5px solid #c92736;
      color: #202020;
      font-size: 25px;
      font-weight: 500;
    }

    &-text {
      display: block;
      height: 48px;
      margin: 0 0 16px 0;
      overflow: hidden;
      color: #202020;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }

    &-info {
      display: block;
      position: relative;
      margin: 0 0 18px 0;
    }

    &-subtitle {
      display: block;
      margin: 0 0 8px 0;
      opacity: 0.5;
      color: #202020;
      font-size: 12px;
      font-weight: 300;
    }

    &-subtext {
      display: block;
      margin: 0;
      color: #202020;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.l-home-help {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0 100px 0;
  background: url('../images/home_help_bg.png') no-repeat center center;
  background-size: cover;

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 20px 0;
    padding-left: 26px;
    border-left: 5px solid #c92736;
    color: #202020;
    font-size: 35px;
    font-weight: 300;
  }

  &__text {
    display: block;
    margin: 0 0 44px 0;
    color: #202020;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
  }

  &__arrows {
    display: inline-block;
    position: relative;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 50%;
      right: 100%;
      width: 50vw;
      height: 1px;
      margin-right: 20px;
      background: url('../images/help_left.png') no-repeat center center;
      background-size: 100% 100%;
      z-index: 1;
      pointer-events: none;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      bottom: 50%;
      left: 100%;
      width: calc(100vw - ((100vw - 1200px) / 2));
      height: 264px;
      margin-left: 20px;
      background: url('../images/help_right.png') no-repeat center center;
      background-size: 100% 100%;
      z-index: 0;
    }
  }

  &__arrow {
    display: inline-block;
    width: 21px;
    height: 41px;
    object-fit: scale-down;

    &_prev {
      position: relative;
      margin-right: 55px;
    }

    &_next {
      position: relative;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__button {
    display: inline-block;
    margin-top: 70px;
    padding: 13px 40px;
    border-radius: 999rem;
    background-image: linear-gradient(to left, #c92736 0%, #f84455 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-image: linear-gradient(to left, #e63d4d 0%, #fd5667 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 12px 27px 1px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      .l-home-help__card-arrow {
        width: 60px;
        height: 10px;
        filter: none;
      }

      text-decoration: none;
    }

    &-image {
      display: block;
      position: relative;
      width: 100%;
      height: 160px;
      border-radius: 5px 5px 0 0;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &-content {
      display: block;
      position: relative;
      width: 100%;
      padding: 28px 30px 22px 30px;
      border-radius: 0 0 5px 5px;
      background: #ffffff;
    }

    &-text {
      display: block;
      margin: 0 0 18px 0;
      color: #202020;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
    }

    &-row {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
    }

    &-more {
      display: inline-block;
      margin: 0 8px 0 0;
      color: #6a6a6a;
      font-size: 14px;
      font-weight: 300;
    }

    &-arrow {
      display: block;
      position: relative;
      width: 30px;
      height: 10px;
      filter: grayscale(100);
      background: url('../images/icon_card_arrow.png') no-repeat right center;
      background-repeat: no-repeat;
      transition: all 0.2s ease-out;
    }
  }
}

.l-home-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0 110px 0;
  background: url('../images/home_seo_bg.jpg') no-repeat center center;
  background-size: cover;

  &__title {
    display: block;
    margin: 0 0 26px 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.69;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 20px 0;
      color: #ffffff;
      font-weight: 300;
    }

    a {
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #c92736;
        text-decoration: none;
      }
    }
  }
}

.l-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0 110px 0;
  background: #ffffff;

  &__title {
    display: block;
    margin: 0 0 26px 0;
    color: #202020;
    font-size: 25px;
    font-weight: 300;
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    color: #202020;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.69;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 20px 0;
      color: #202020;
      font-weight: 300;
    }

    a {
      color: #202020;
      font-size: 16px;
      font-weight: 300;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #c92736;
        text-decoration: none;
      }
    }
  }
}


.l-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 15px 0;
  background-color: #1d1d1d;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-block;

    img {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 760px;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        padding: 6px 0;
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #c92736;
          text-decoration: none;
        }
      }
    }
  }

  &__social {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;

    a {
      display: inline-block;
      margin: 3px 0 3px 15px;
      color: #ffffff;
      font-size: 18px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #c92736;
        text-decoration: none;
      }
    }
  }
}

.l-bottom {
  display: block;
  position: relative;
  padding: 14px 0;
  background-color: #c92736;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: inline;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__creators {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;

    img {
      display: inline-block;
      margin: 0 5px;
    }
  }
}

.l-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 10px 0;
    padding: 65px 50px;
    border-radius: 5px;
    background-color: #1d1d1d;
  }

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 20px auto;
    color: #ffffff;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
  }

  &__description {
    display: block;
    margin: 0 auto 50px auto;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffff;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
  }

  &__input {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    padding: 11px;
    border: 0;
    outline: none;
    border-bottom: 2px solid #c92736;
    background: transparent;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }

  &__row {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    &-text {
      display: inline-block;
      margin: 0 25px 0 0;
      color: #fffefe;
      font-size: 18px;
      font-weight: 300;
    }
  }

  &__check {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 1;
    cursor: pointer;

    span {
      display: block;
      position: relative;
      margin: 0;
      padding-left: 33px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
    }

    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;

      &+span {
        background: url('../images/icon_checkbox.png') no-repeat left top;
      }

      &:checked+span {
        background: url('../images/icon_checkbox_checked.png') no-repeat left top !important;
      }
    }
  }

  &__button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 16px;
    border: 0;
    outline: none;
    border-radius: 25px;
    background-image: linear-gradient(to left, #c92736 0%, #f84455 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-image: linear-gradient(to left, #e63d4d 0%, #fd5667 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    position: relative;
    width: 100%;
    max-width: 365px;
    margin: 45px auto 0 auto;
    opacity: 0.5;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
  }
}

.l-breadcrumps {
  display: block;
  position: relative;
  width: 100%;
  padding: 4px 0 6px 0;
  background-color: #c92736;

  &__this {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;

    li {
      display: inline-block;

      span {
        display: inline-block;
        margin: 0 5px;
      }
    }

    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }
}

.l-page {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0;
  background-color: #ffffff;

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 60px 0;
    padding-left: 25px;
    border-left: 5px solid #c92736;
    color: #202020;
    font-size: 35px;
    font-weight: 300;
  }

  &__tags {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 0 30px 0;
    list-style: none;

    li {
      display: inline-block;
    }
  }

  &__tag {
    display: inline-block;
    margin: 0 20px 20px 0;
    padding: 7px 30px;
    border-radius: 18px;
    border: 1px solid #a1a1a1;
    background: transparent;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: #c92736;
      color: #1d1d1d;
      text-decoration: none;
    }
  }

  &__subtitle {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 16px 0;
    color: #202020;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
  }

  &__description {
    display: block;
    position: relative;
    width: 100%;
    max-width: 785px;
    margin: 0 auto 90px auto;
    color: #202020;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
  }
}

.l-projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 315px;
    margin-bottom: 110px;

    &-image {
      display: block;
      width: 100%;
      height: 190px;
      margin-bottom: 18px;
      border-radius: 5px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-title {
      display: block;
      margin: 0 0 26px 0;
      padding-left: 15px;
      border-left: 5px solid #c92736;
      color: #202020;
      font-size: 25px;
      font-weight: 500;
    }

    &-text {
      display: block;
      height: 48px;
      margin: 0 0 16px 0;
      overflow: hidden;
      color: #202020;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }

    &-info {
      display: block;
      position: relative;
      margin: 0 0 26px 0;
    }

    &-subtitle {
      display: block;
      margin: 0 0 8px 0;
      opacity: 0.5;
      color: #202020;
      font-size: 12px;
      font-weight: 300;
    }

    &-subtext {
      display: block;
      margin: 0;
      color: #202020;
      font-size: 18px;
      font-weight: 500;
    }

    &-checks {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin: 0 0 24px 0;
        padding-left: 30px;
        background: url('../images/icon_projects_check.png') no-repeat left top 4px;
        color: #1d1d1d;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
      }
    }

    &-buttons {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: stretch;
      position: relative;
      width: 100%;
      padding-top: 30px;
    }

    &-button {
      display: inline-block;
      padding: 7px 13px;
      border-radius: 999rem;
      background-image: linear-gradient(to left, #c92736 0%, #f84455 100%);
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background-image: linear-gradient(to left, #e63d4d 0%, #fd5667 100%);
        color: #ffffff;
        text-decoration: none;
      }
    }

    &-more {
      display: inline-block;
      padding: 7px 30px;
      border-radius: 999rem;
      border: 1px solid #c92736;
      background: transparent;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: linear-gradient(to left, #c92736 0%, #f84455 100%);
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.l-pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 30px 0 0 0;
  list-style: none;

  &_active {
    a {
      color: #c92736 !important;
      font-weight: 700 !important;
    }
  }

  li {
    display: inline-block;

    a {
      display: inline-block;
      padding: 8px 12px;
      color: #202020;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #c92736;
        text-decoration: none;
      }
    }

    i {
      display: inline-block;
      margin-top: -5px;
      line-height: 23px;
      font-size: 14px;
    }
  }
}

.l-news {
  display: block;
  position: relative;
  width: 100%;

  &__card {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      .l-news__card-arrow {
        width: 60px;
        height: 10px;
        filter: none;
      }

      .l-news__card-title {
        color: #c92736;
      }

      .l-news__card-more {
        color: #202020;
      }

      text-decoration: none;
    }

    &-image {
      display: block;
      width: 100%;
      max-width: 380px;
      height: 250px;
      border-radius: 5px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-content {
      display: block;
      position: relative;
      width: 100%;
    }

    &-date {
      display: block;
      margin: 0 0 20px 0;
      color: #6a6a6a;
      font-size: 14px;
      font-weight: 300;
    }

    &-title {
      display: block;
      margin: 0 0 20px 0;
      color: #202020;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.35;
      transition: all 0.2s ease-out;
    }

    &-text {
      display: block;
      margin: 0 0 30px 0;
      color: #202020;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }

    &-row {
      display: flex;
      align-items: center;
    }

    &-more {
      display: inline-block;
      margin-right: 7px;
      color: #6a6a6a;
      font-size: 14px;
      font-weight: 300;
      transition: all 0.2s ease-out;
    }

    &-arrow {
      display: block;
      position: relative;
      width: 30px;
      height: 10px;
      filter: grayscale(100);
      background: url('../images/icon_card_arrow.png') no-repeat right center;
      background-repeat: no-repeat;
      transition: all 0.2s ease-out;
    }
  }
}

.l-type-top {
  display: block;
  position: relative;
  width: 100%;
  padding: 135px 0 150px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 715px;
  }

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 32px 0;
    padding-left: 26px;
    border-left: 5px solid #c92736;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
  }

  &__text {
    display: block;
    width: 100%;
    margin: 0 0 35px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
  }

  &__button {
    display: inline-block;
    padding: 13px 18px;
    border-radius: 999rem;
    background-image: linear-gradient(to left, #c92736 0%, #f84455 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-image: linear-gradient(to left, #e63d4d 0%, #fd5667 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.l-steps {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 750px;
    background: url('../images/home_why_card_bg.png') no-repeat center center;

    &_1 {
      margin-bottom: 180px;

      .l-steps__card-image {
        position: relative;

        &:after {
          display: block;
          position: absolute;
          content: '';
          left: 50%;
          top: 100%;
          width: 415px;
          height: 180px;
          background: url('../images/step_after_from_left.png') no-repeat left top;
          background-size: 100% 100%;
        }
      }
    }

    &_2 {
      margin-bottom: 180px;
      text-align: right;

      .l-steps__card-image {
        position: relative;

        &:after {
          display: block;
          position: absolute;
          content: '';
          right: 50%;
          top: 100%;
          width: 415px;
          height: 180px;
          margin-left: -415px;
          background: url('../images/step_after_from_right.png') no-repeat left top;
          background-size: 100% 100%;
        }
      }
    }

    &_3 {
      margin-bottom: 180px;

      .l-steps__card-image {
        position: relative;

        &:after {
          display: block;
          position: absolute;
          content: '';
          left: 50%;
          top: 100%;
          width: 415px;
          height: 180px;
          background: url('../images/step_after_from_left.png') no-repeat left top;
          background-size: 100% 100%;
        }
      }
    }

    &_4 {
      text-align: right;
    }

    &-number {
      display: inline-block;
      opacity: 0.5;
      color: #202020;
      font-size: 55px;
      font-weight: 300;
    }

    &-image {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 165px;
      height: 165px;
      margin: 0 30px 0 20px;

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-content {
      display: inline-block;
      width: 100%;
      max-width: 485px;
    }

    &-title {
      display: block;
      margin: 0 0 18px 0;
      color: #202020;
      font-size: 30px;
      font-weight: 300;
    }

    &-text {
      display: block;
      margin: 0;
      color: #202020;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.l-tabs {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0 30px 0;

  &__title {
    display: block;
    margin: 0 0 42px 0;
    color: #202020;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
  }

  &__links {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding: 14px 20px;
    border-radius: 5px 0 0 5px;
    border-left: 5px solid transparent;
    background-color: transparent;
    color: #202020;
    font-size: 20px;
    font-weight: 300;

    &_current {
      border-color: #c92736;
      background: #f1f1f1;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #c92736;
      text-decoration: none;
    }
  }

  &__content {
    display: none;
    position: relative;
    width: 100%;
    min-height: 600px;
    padding: 70px 70px 30px 70px;
    background: #f1f1f1;
    color: #202020;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.69;

    &_current {
      display: block;
    }

    p {
      display: block;
      margin: 0 0 50px 0;
    }
  }
}

.l-best {
  display: block;
  position: relative;
  width: 100%;
  padding: 85px 0 160px 0;
  background: url('../images/best_bg.jpg') no-repeat center;
  background-size: cover;

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 70px;
  }

  &__title {
    display: inline-block;
    margin: 4px 0;
    color: #ffffff;
    font-size: 35px;
    font-weight: 300;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    min-width: 235px;
    min-height: 45px;
    padding: 10px 22px 10px 10px;
    border-radius: 999rem;
    background-image: linear-gradient(to left, #c92736 0%, #f84455 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;

    img {
      display: inline-block;
      max-width: 100%;
      margin-right: 22px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-image: linear-gradient(to left, #e63d4d 0%, #fd5667 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;

    .slick-track {
      margin: 0;
    }

    .slick-dots li button:before {
      display: none;
    }

    .slick-dots li {
      position: relative;
      width: 14px;
      height: 14px;
      border: 1px solid #c92736;
      border-radius: 999rem;
      opacity: 1;
    }

    .slick-dots .slick-active {
      background: #c92736 !important;
      opacity: 1 !important;
    }

    .slick-dots {
      width: 100%;
      bottom: -80px;
    }

    .slick-next,
    .slick-prev {
      width: 21px;
      height: 41px;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.7;
      }
    }

    .slick-next {
      margin-right: -50px;
      background: url("../images/icon_slick_next_2.png");

      &:before {
        display: none;
      }
    }

    .slick-prev {
      margin-left: -50px;
      background: url("../images/icon_slick_prev_2.png");

      &:before {
        display: none;
      }
    }
  }

  &__card {
    display: block !important;
    position: relative;
    width: 100%;
    max-width: 315px;
    margin: 0;

    &-image {
      display: block;
      width: 100%;
      height: 190px;
      margin-bottom: 18px;
      border-radius: 5px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-title {
      display: block;
      margin: 0 0 26px 0;
      padding-left: 15px;
      border-left: 5px solid #c92736;
      color: #ffffff;
      font-size: 25px;
      font-weight: 500;
    }

    &-text {
      display: block;
      height: 48px;
      margin: 0 0 16px 0;
      overflow: hidden;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }

    &-info {
      display: block;
      position: relative;
      margin: 0 0 26px 0;
    }

    &-subtitle {
      display: block;
      margin: 0 0 8px 0;
      opacity: 0.5;
      color: #ffffff;
      font-size: 12px;
      font-weight: 300;
    }

    &-subtext {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
    }

    &-checks {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin: 0 0 24px 0;
        padding-left: 30px;
        background: url('../images/icon_projects_check.png') no-repeat left top 4px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
      }
    }

    &-buttons {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: stretch;
      position: relative;
      width: 100%;
      padding-top: 30px;
    }

    &-button {
      display: inline-block;
      padding: 7px 13px;
      border-radius: 999rem;
      background-image: linear-gradient(to left, #c92736 0%, #f84455 100%);
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background-image: linear-gradient(to left, #e63d4d 0%, #fd5667 100%);
        color: #ffffff;
        text-decoration: none;
      }
    }

    &-more {
      display: inline-block;
      padding: 7px 30px;
      border-radius: 999rem;
      border: 1px solid #c92736;
      background: transparent;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: linear-gradient(to left, #c92736 0%, #f84455 100%);
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.l-case {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 50px;

  &__big {
    display: block;
    position: relative;
    width: 100%;
    max-width: 665px;
    height: 400px;
    border-radius: 5px;
    background-position: center center;
    background-size: cover;
  }

  &__title {
    display: block;
    margin: 0 0 22px 0;
    padding-left: 23px;
    border-left: 5px solid #c92736;
    color: #202020;
    font-size: 35px;
    font-weight: 300;
  }

  &__text {
    display: block;
    margin: 0 0 45px 0;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }

  &__info {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 24px 0;

    &-title {
      display: block;
      margin: 0 0 6px 0;
      opacity: 0.5;
      color: #1d1d1d;
      font-size: 12px;
      font-weight: 300;
    }

    &-text {
      display: block;
      margin: 0;
      color: #1d1d1d;
      font-size: 25px;
      font-weight: 500;
    }
  }

  &__footer {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 46px;
  }

  &__button {
    display: block;
    padding: 13px;
    border-radius: 999rem;
    background-image: linear-gradient(to left, #c92736 0%, #f84455 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-image: linear-gradient(to left, #e63d4d 0%, #fd5667 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__link {
    display: block;
    color: #c92736;
    font-size: 16px;

    i {
      display: inline-block;
      margin-right: 5px;
      font-size: 18px;
    }

    a {
      color: #c92736;
      font-size: 16px;
      font-weight: 300;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #c92736;
        text-decoration: none;
      }
    }
  }
}

.l-case-aside {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 55px 45px 30px 45px;
  list-style: none;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #e0e0e0 100%);
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;

  li {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 22px 0;
    padding-left: 35px;
    background: url('../images/icon_projects_check.png') no-repeat left top 4px;
  }
}

.l-case-article {
  display: block;
  position: relative;
  width: 100%;
  color: #202020;
  font-size: 16px;

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 25px 0;
    color: #202020;
    font-size: 25px;
    font-weight: 300;
  }

  p {
    display: block;
    margin: 0 0 25px 0;
    color: #202020;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
}

.l-article {
  display: block;
  position: relative;
  width: 100%;

  &__aside {
    display: block;
    position: relative;
    width: 100%;
    padding: 40px 40px 5px 40px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #f2f2f2 0%, #e0e0e0 100%);

    &-title {
      display: block;
      margin: 0 0 30px 0;
      padding-left: 24px;
      border-left: 5px solid #c92736;
      color: #202020;
      font-size: 30px;
      font-weight: 300;
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    color: #202020;
    font-size: 16px;

    h1 {
      display: block;
      margin: 0 0 38px 0;
      padding-left: 25px;
      border-left: 5px solid #c92736;
      color: #202020;
      font-size: 35px;
      font-weight: 300;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 25px 0;
      color: #202020;
      font-weight: 300;
    }

    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 25px;
    }

    h4 {
      font-size: 20px;
    }

    h5 {
      font-size: 18px;
    }

    h6 {
      font-size: 14px;
    }

    p {
      display: block;
      margin: 0 0 28px 0;
      color: #202020;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }

    a {
      display: inline;
      color: #c92736;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #c92736;
        text-decoration: none;
      }
    }

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto 20px auto;
    }

    blockquote {
      display: block;
      margin: 20px 0 45px 0;
      padding-left: 25px;
      border-left: 5px solid #c92736;
      color: #636363;
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      line-height: 1.5;
    }

    .table-responsive {
      text-align: center;

      .table td,
      .table th {
        padding: 14px 6px;
        border: 0;
        color: #1d1d1d;
        font-size: 16px;
        font-weight: 400;
      }

      .table thead th {
        padding: 16px 20px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
      }

      .table thead {
        background: #c02635;
      }

      .table-striped thead th:nth-of-type(odd) {
        background: rgba(0, 0, 0, 0.1);
      }

      .table-striped tbody tr:nth-of-type(odd) {
        background: rgba(0, 0, 0, 0.1);
      }

      .table-striped tbody tr:nth-of-type(even) {
        background: #f4f4f4;
      }

      .table-striped tbody td:nth-of-type(odd) {
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }

  &__date {
    display: block;
    margin: 0 0 45px 0;
    color: #6a6a6a;
    font-size: 14px;
    font-weight: 300;
  }
}

.l-contacts {
  display: block;
  position: relative;
  width: 100%;

  &__content {
    display: block;
    position: absolute;
    top: 100px;
    left: calc((100vw - 1200px) / 2);
    width: 100%;
    max-width: 380px;
    padding: 35px 40px 45px 40px;
    box-shadow: 0 12px 27px 1px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    background-color: #ffffff;
    z-index: 1;
  }

  &__title {
    display: block;
    margin: 0 0 35px 0;
    padding-left: 23px;
    border-left: 5px solid #c92736;
    color: #202020;
    font-size: 35px;
    font-weight: 300;
  }

  &__subtitle {
    display: block;
    margin: 0 0 36px 0;
    color: #202020;
    font-size: 25px;
    font-weight: 400;
  }

  &__phone {
    display: block;
    margin: 0 0 36px 0;
    color: #1d1d1d;
    font-size: 22px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #c92736;
      text-decoration: none;
    }
  }

  &__mail {
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #c92736;
      text-decoration: none;
    }
  }

  &__link {
    color: #c92736;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #c92736;
      text-decoration: none;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin: 0 0 35px;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 300;

    p {
      margin: 0;
    }

    sup {
      font-size: 10px;
    }

    i {
      display: inline-block;
      margin-right: 5px;
      color: #c92736;
    }
  }

  &__button {
    display: block;
    margin: 5px 0 0 0;
    padding: 13px;
    border-radius: 23px;
    background-image: linear-gradient(to left, #c92736 0%, #f84455 100%);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-image: linear-gradient(to left, #e63d4d 0%, #fd5667 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

#map {
  display: block;
  position: relative;
  width: 100%;
  height: 770px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .l-header__info {
    padding: 10px 0;
  }

  .l-header__info-card {
    margin: 0 5px 8px 0;
  }

  .l-header__nav>li {
    display: block;
    width: 100%;

    &>a {
      display: block;
      width: 100%;
      padding: 8px;
    }
  }

  .l-header__dropper:hover .l-header__drop {
    display: none;
  }

  .l-header__phone {
    margin: 10px 0;
  }

  .l-header__button {
    margin-bottom: 10px;
  }

  .l-header {
    padding: 14px 0;
  }

  .l-home-top__card-content {
    min-height: auto;
    height: 400px;
  }

  .l-home-top__card-title {
    font-size: 28px;
  }

  .l-home-top__card-text {
    height: 81px;
    overflow: hidden;
  }

  .l-home-top .slick-next {
    right: 10px;
    opacity: 0.7;
  }

  .l-home-top .slick-prev {
    left: 10px;
    opacity: 0.7;
  }

  .l-home-main {
    padding: 30px 15px;
  }

  .l-home-main__title {
    font-size: 32px;
  }

  .l-home-choose {
    padding: 30px 0;
  }

  .l-home-choose__content_righted {
    align-items: center;
  }

  .l-home-choose__content {
    align-items: center;
  }

  .l-home-choose__title {
    margin: 10px 0 30px 0;
  }

  .l-form {
    padding: 30px 0;
  }

  .l-form__text {
    margin-bottom: 20px;
  }

  .l-form__input {
    margin-bottom: 10px;
  }

  .l-form__button {
    margin: 10px auto;
  }

  .l-home-why {
    padding: 30px 0;
  }

  .l-home-why__title {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .l-home-why__card {
    align-items: center;
    text-align: center;
  }

  .l-home-services {
    padding: 30px 0;
  }

  .l-home-services__card {
    padding: 30px;
  }

  .l-home-companies {
    padding: 30px 0;
  }

  .l-home-companies__title {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .l-home-help {
    padding: 30px 0;
  }

  .l-home-help__text {
    margin-bottom: 20px;
  }

  .l-home-help__button {
    margin: 20px 0;
  }

  .l-home-seo {
    padding: 30px 0;
  }

  .l-footer>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .l-footer__nav {
    padding: 20px 0;

    li {
      display: block;
      width: 100%;

      a {
        display: block;
        width: 100%;
        padding: 8px;
        text-align: center;
      }
    }
  }

  .l-footer__social a {
    margin: 10px;
  }

  .l-bottom>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .l-home-companies__cards .slick-next {
    margin-right: 15px;
  }

  .l-home-companies__cards .slick-prev {
    margin-left: 15px;
  }

  .l-header__toggle {
    display: inline-block;
  }

  .l-header__mob {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .l-header__info {
    display: none;
  }

  .l-header__nav {
    display: none;
  }

  .l-modal__content {
    padding: 60px 20px 20px 20px;
  }

  .l-modal__description {
    margin-bottom: 20px;
  }

  .l-modal__input {
    margin-bottom: 10px;
  }

  .l-modal__info {
    margin-top: 10px;
  }

  .l-modal__title {
    font-size: 28px;
  }

  .l-modal__description {
    font-size: 16px;
  }

  .l-page {
    padding: 30px 0;
  }

  .l-page__title {
    margin-bottom: 20px;
  }

  .l-projects__card-buttons {
    padding: 0;
  }

  .l-projects__card {
    margin-bottom: 30px;
  }

  .l-projects {
    justify-content: space-around;
  }

  .l-pagination {
    padding: 10px 0;
  }

  .l-page__tag {
    margin: 0 2px 4px 2px;
    padding: 4px 8px;
  }

  .l-news__card-image {
    height: 200px;
    margin-bottom: 10px;
  }

  .l-type-top {
    padding: 30px 0;
  }

  .l-type-top__title {
    font-size: 32px;
  }

  .l-page__description {
    margin-bottom: 20px;
  }

  .l-steps__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px !important;
    text-align: center !important;
  }

  .l-steps__card-image {
    order: 2;
    margin: 10px;
  }

  .l-steps__card-number {
    order: 1;
  }

  .l-steps__card-content {
    order: 3;
  }

  .l-form__input {
    padding: 11px;
  }

  .l-form__title {
    font-size: 30px;
  }

  .l-tabs {
    padding: 30px 0;
  }

  .l-tabs__title {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .l-tabs__link {
    margin: 0;
    padding: 8px 12px;
  }

  .l-tabs__content {
    min-height: auto;
    padding: 30px;
  }

  .l-tabs__content p {
    margin-bottom: 20px;
  }

  .l-best {
    padding: 30px 0;
  }

  .l-best__header {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .l-best__header {
    margin-bottom: 20px;
  }

  .l-best__title {
    margin-bottom: 10px;
  }

  .l-best__cards .slick-next {
    margin-right: 15px;
  }

  .l-best__cards .slick-prev {
    margin-left: 15px;
  }

  .l-case__big {
    height: 250px;
    margin-bottom: 15px;
  }

  .l-case__text {
    margin-bottom: 20px;
  }

  .l-case__info {
    margin-bottom: 10px;
  }

  .l-case__footer {
    padding-top: 10px;
    text-align: center;
  }

  .l-case__button {
    margin-bottom: 10px;
  }

  .l-case {
    padding-bottom: 30px;
  }

  .l-case-aside {
    padding: 30px;
  }

  .l-case-article__title {
    margin: 10px 0 20px 0;
  }

  .l-article__aside {
    padding: 30px 30px 5px 30px;
  }

  .l-article__content h1 {
    margin: 10px 0 20px 0;
  }

  .l-article__content h1 {
    font-size: 32px;
  }

  .l-article__date {
    margin-bottom: 20px;
  }

  .l-article__content .table-responsive .table thead th {
    padding: 12px 4px;
    font-size: 14px;
  }

  .l-article__content .table-responsive .table td,
  .l-article__content .table-responsive .table th {
    padding: 8px 4px;
    font-size: 14px;
  }

  .l-steps__card-image:after {
    display: none !important;
  }

  .l-home-help__arrows {
    display: flex;
  }

  .l-home-help__arrows:before {
    display: none;
  }

  .l-home-help__arrows:after {
    display: none;
  }

  .h-mob-block {
    display: block;
  }

  .l-home-top .slick-next,
  .l-home-top .slick-prev {
    top: auto;
    bottom: -10px;
  }

  .l-best__card {
    margin: 0 auto;
  }
  .l-seo {
    padding: 30px 0;
  }
}
